<div class="title_banner">
  <div class="container" style="width:1230px;">
    <h1>One click away for Land Registry</h1>
    <h2>Online Land Records</h2>
  </div>
</div>
<div class="container">
  <div class="titlebar">Approve Survey Applications <img src="/assets/images/user_icon.png">
    <div class="dropdown" style="float: right;">
      <button style="background-color: transparent; border: 0px; text-transform: uppercase; color:#27bed9; font-size: 14px;" type="button" data-toggle="dropdown">MAPPROVER <span class="caret"></span></button>
      <ul class="dropdown-menu">
        <app-logout></app-logout>
      </ul>
    </div>
  </div>
  <div class="mojani_form">
    <div *ngIf="approveSuccess; then successMsg else approveForm" ></div>
    <ng-template #approveForm>
      <h2>Search Criteria</h2>
      <div class="form-group block">
        <div class="col-lg-4">
          <label for="wardNo" class="control-label required">Ward #</label>
          <input type="text" id="wardNo" name="wardNo" class="form-control"  [(ngModel)]="wardNo"  />
        </div>
        <div class="col-lg-4">
          <label>Plot/Site No.</label>
          <input type="submit" value="Search" (click)= "search()">
        </div>
        <div class="clearfix"></div>
      </div>
      <hr />
      <!--Search results of the land records for approval -->
      <div *ngIf= "fetchComplete" >
      <div class="block">
      <table>
        <tr>
          <th>Property ID</th>
          <th>Ward No</th>
          <th>Area Code</th>
          <th>Site No</th>
          <th>Total Area</th>
          <th>Action</th>
        </tr>
        <tr *ngFor="let land of landRecords">
          <td><a [routerLink] = "['/viewLandRecord', land.pid]">{{land.pid}}</a></td>
          <td>{{land.wardNo}}</td>
          <td>{{land.areaCode}}</td>
          <td>{{land.siteNo}}</td>
          <td>{{land.geoData.totalArea}}</td>
          <td><input type="checkbox" name='approval'  [(ngModel)]='land.isMojaniApproved'  #approval="ngModel" /></td>
        </tr>
      </table> 
      </div>
   <div *ngIf='noSearchResults' style='color:red;margin-right: 40px;' align='center'><strong>No matching results found !</strong></div>
   <br/>
   <div *ngIf='!noSearchResults' align='right' style='margin-right: 40px;'>
     
   <button type="submit" class="btn btn-danger" (click)= "onReject()">Reject</button>
   <button type="submit" class="btn btn-primary" (click)= "onSubmit()">Approve</button>
   </div>
   </div>
   </ng-template>
   <!--Success message for the approval-->
   <ng-template #successMsg >
   <div  class="alert alert-success"> <strong>Success!</strong>
   <span *ngIf = 'approveAction'>
     All the below approved records have been committed to the HyperLedger. Their unique digital Ids are listed below :
   </span>
   <span *ngIf = '!approveAction'>
     All the records with below PIDs have been rejected!
   </span>
     <ul *ngFor= "let rec of approvedRecords">
     <li>{{rec.pid}}</li>
   </ul>
   </div>
     <div class="alert alert-info">
       Please click on <strong>OK</strong> to approve other applications !
     </div>
     <div align="center"><button type="submit" class="btn btn-primary" (click)="submitNew()">OK</button></div>
    <br/>
     <div align="center"><iframe src="https://blockdatalandrecord.mybluemix.net/" width="1000px" height= "680px" frameborder="0"></iframe></div>
   </ng-template>
  </div>
</div> 